html {
  scroll-behavior: smooth;
}
body{
overflow-x: hidden;
background-image: url(image/headerbackground.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: #fff;
}
.header{
background-image: url(image/headerbackground.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.header2{
  padding: 10px 40px;
  /* border: 2px solid #286; */
}

.div-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.active {
  color: #0077ff;
  border-bottom: 2px solid #0077ff;
}

.logo img {
  width: 60%;
  border-radius: 40px;
  background-color: transparent;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
#webname {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
nav li :hover{
    background-color: #0077ff;
}
footer{
    background-color: rgb(53, 49, 49);
    font-weight: bold;
    text-align: center;
    height: 32px;
}
